
@font-face {
  font-family: 'GT Eesti';
  font-weight: 500;
  font-style: normal;
  src: url('GT-Eesti-Pro-Text-Medium.woff2') format('woff2'),
       url('GT-Eesti-Pro-Text-Medium.woff') format('woff'),
       url('GT-Eesti-Pro-Text-Medium.otf')  format('opentype');
}
@font-face {
  font-family: 'GT Eesti';
  font-weight: 400;
  font-style: normal;
  src: url('GT-Eesti-Pro-Text-Regular.woff2') format('woff2'),
       url('GT-Eesti-Pro-Text-Regular.woff') format('woff'),
       url('GT-Eesti-Pro-Text-Regular.otf')  format('opentype');
}
@font-face {
  font-family: 'GT Eesti';
  font-weight: 400;
  font-style: italic;
  src: url('GT-Eesti-Pro-Text-Book-Italic.woff2') format('woff2'),
       url('GT-Eesti-Pro-Text-Book-Italic.woff') format('woff'),
       url('GT-Eesti-Pro-Text-Book-Italic.otf')  format('opentype');
}
@font-face {
  font-family: 'GT Eesti';
  font-weight: 700;
  font-style: normal;
  src: url('GT-Eesti-Pro-Text-Bold.woff2') format('woff2'),
       url('GT-Eesti-Pro-Text-Bold.woff') format('woff'),
       url('GT-Eesti-Pro-Text-Bold.otf')  format('opentype');
}
